.SectionHeader {
  font-family: 'Roboto Slab', sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 5rem;
  margin: 1.5rem 0 3rem 0;

  & span {
    display: block;
  }
}

@media only screen and (max-width: 56.25em) {
  .SectionHeader {
    font-size: 4.5rem;
    text-align: center;


    & span {
      display: inline;
    }
  }
}