.SkillBox {
  width: 40rem;
  background-color: var(--peach-puff);
  color: var(--dark-grey-1);
  font-weight: 600;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, .3);
  border-radius: 5px;
  overflow: hidden;

  &__heading {
    font-family: 'Roboto Slab', sans-serif;
    background-color: var(--outer-space-crayola);
    color: var(--light-grey-1);
    text-transform: uppercase;
    text-align: center;
    padding: 4rem 0;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .3);
  }

  &__list {
    list-style: none;
    padding: 3rem;
  }
}
