.SkillBox {
  width: 40%;
  background-color: var(--almond);
  color: var(--dark-grey-1);
  font-weight: 600;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, .3);
  border-radius: 5px;
  overflow: hidden;
  margin: 0 auto 5rem auto;

  &__heading {
    font-family: 'Roboto Slab', sans-serif;
    background-color: var(--outer-space-crayola);
    color: var(--light-grey-1);
    text-transform: uppercase;
    text-align: center;
    padding: 2.5rem 0;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .3);
    font-size: 1.8rem;
  }

  &__list {
    list-style: none;
    padding: 4rem;
  }
}

@media only screen and (max-width: 93.75em) {
  .SkillBox {
    width: 40%;
  }
}

@media only screen and (max-width: 56.25em) {
  .SkillBox {
    width: 60%;
  }
}

@media only screen and (max-width: 37.5em) {
  .SkillBox {
    width: 95%;
  }
}