.Skills {
  min-height: 100vh;
  padding: 10rem 15rem;
  background-color: var(--green-sheen);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  &__section-heading {
    font-family: 'Roboto Slab', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 5rem;

    & span {
      display: block;
    }
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
