.Skills {
  min-height: 100vh;
  padding: 5rem 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--green-sheen);

  &__section-heading {
    font-family: 'Roboto Slab', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 4rem;
    margin-bottom: 5rem;

    & span {
      display: block;
    }
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
  }
}

@media only screen and (max-width: 56.25em) {
  .Skills {

    &__container {
      flex-direction: column;
    }
  }
}