.Navigation {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  display: flex;
  padding: 3rem 5rem 2rem 5rem;
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: 2px;
  background-color: var(--teal-blue);
  color: var(--light-grey-2);
  cursor: pointer;
  z-index: 10;

  &__checkbox {
    display: none;
  }

  &__brand {
    text-transform: uppercase;
    margin-right: auto;
  }

  &__list {
    display: flex;
    list-style: none;
  }
}

@media only screen and (max-width: 56.25em) {
  .Navigation {
    &__checkbox:checked .NavigationItem {
      transform: translateX(0%);
    }

    &__checkbox:checked + &__button &__icon {
      background-color: transparent;
    }

    &__checkbox:checked + &__button &__icon::before {
      top: 0;
      transform: rotate(135deg);
    }

    &__checkbox:checked + &__button &__icon::after {
      top: 0;
      transform: rotate(-135deg);
    }

    &__button {
      background-color: var(--light-grey-2);
      height: 5rem;
      width: 5rem;
      border-radius: 50%;
      position: fixed;
      top: 1rem;
      right: 2rem;
      z-index: 3000;
      box-shadow: 0 1rem 1rem rgba(0, 0, 0, .22);
      text-align: center;
      cursor: pointer;
    }

    &__button:hover &__icon::before {
      top: -1rem;
    }

    &__button:hover &__icon::after {
      top: 1rem;
    }

    &__icon {
      position: relative;
      margin-top: 50%;

      &,
      &::before,
      &::after {
        width: 2.5rem;
        height: 2px;
        background-color: var(--dark-grey-1);
        display: inline-block;
        transition: transform .2s;
      }

      &::before,
      &::after {
        content: "";
        position: absolute;
        left: 0;
      }

      &::before { top: -0.8rem; }

      &::after { top: 0.8rem; }
    }

    &__list {
      position: absolute;
      display: flex;
      flex-direction: column;
      top: 0;
      left: 0;
      height: 100vh;
      width: 100vw;
    }
  }
}