.Navigation {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  display: flex;
  padding: 3rem 5rem 2rem 5rem;
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: 2px;
  background-color: var(--teal-blue);
  color: var(--light-grey-2);
  cursor: pointer;
  z-index: 10;

  &__brand {
    text-transform: uppercase;
    margin-right: auto;
  }

  &__list {
    display: flex;
    list-style: none;
  }
}

@media only screen and (max-width: 56.25em) {
  .Navigation {
    padding: 1.5rem 3rem 1.5rem 3rem;
  }
}