.AboutMe {
  min-height: 100vh;
  padding: 10rem 15rem;
  display: flex;
  flex-direction: column;
  background-color: var(--outer-space-crayola);

  &__container {
    display: flex;
    align-items: center;
  }

  &__image {
    height: 35rem;
    background-size: auto;
    border-radius: 50%;
    box-shadow: 0 2rem 2rem rgba(0, 0, 0, .3);
  }

  &__text-outer-container {
    padding: 5rem 10rem;
    margin-left: 5rem;
    background-color: var(--green-sheen);
    transform: skewX(-10deg);
    font-size: 1.7rem;
    box-shadow: 0 2rem 2rem rgba(0, 0, 0, .3);
    
    & > * {
      transform: skewX(10deg);
    }
  }

  &__text {
    line-height: 1.8;

    &:not(:last-of-type) {
      margin-bottom: 2.5rem;
    }
  }
}

@media only screen and (max-width: 93.75em) {
  .AboutMe {
    &__text-outer-container {
      font-size: 1.6rem;
    }
  }
}

@media only screen and (max-width: 75em) {
  .AboutMe {
    padding: 7.5rem 7.5rem;

    &__container {
      justify-content: space-around;
    }

    &__image {
      height: 28rem;
      margin-right: 2rem;
    }

    &__text-outer-container {
      transform: skewX(0);
      padding: 3rem 5rem;
      margin: 0;
      width: 80rem;
      max-width: 100%;

      & > * {
        transform: skewX(0);
      }
    }
  }
}

@media only screen and (max-width: 56.25em) {
  .AboutMe {
    &__image {
      margin-bottom: 6rem;
    }

    &__container {
      flex-direction: column;
      justify-content: space-between;
    }
  }
}

@media only screen and (max-width: 37.5em) {
  .AboutMe {
    padding: 4rem 2rem;

    &__text-outer-container {
      padding: 1rem 2rem;
    }
  }
}