.AboutMe {
  min-height: 100vh;
  padding: 5rem 10rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: var(--outer-space-crayola);

  &__section-heading {
    font-family: 'Roboto Slab', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 4rem;
    margin-bottom: 5rem;

    & span {
      display: block;
    }
  }

  &__container {
    display: flex;
    align-items: center;
    // flex-wrap: wrap;
  }

  &__image {
    height: 25rem;
    background-size: auto;
    border-radius: 50%;
  }

  &__text-outer-container {
    padding: 5rem 10rem;
    margin-left: 5rem;
    background-color: var(--green-sheen);
    transform: skewX(-12deg);
    font-size: 1.4rem;
    
    & > * {
      transform: skewX(12deg);
    }
  }

  &__text {
    &:not(:last-of-type) {
      margin-bottom: 2rem;
    }
  }
}

@media only screen and (max-width: 93.75em) {
  .AboutMe {
    &__image {
      height: 20rem;
    }

    &__text-outer-container {
      font-size: 1.2rem;
    }
  }
}

@media only screen and (max-width: 75em) {
  .AboutMe {
    &__image {
      height: 15rem;
    }

    &__text-outer-container {
      transform: skewX(0);
      padding: 3rem 5rem;
      font-size: 1.2rem;

      & > * {
        transform: skewX(0);
      }
    }
  }
}

@media only screen and (max-width: 56.25em) {
  .AboutMe {
    padding: 5rem 5rem;

    &__image {
      margin-bottom: 3rem;
    }

    &__section-heading {
      margin-bottom: 1.5rem;
    }

    &__container {
      flex-direction: column;
      justify-content: space-between;
    }

    &__text-outer-container {
      margin: 0;
    }
  }
}
