.Projects {
  min-height: 100vh;
  padding: 10rem 15rem;
  background-color: var(--outer-space-crayola);
  display: flex;
  flex-direction: column;
  font-size: 1.8rem;

  &__text-container {
    margin: 0 0 5rem 0;
  }

  &__text {
    &:not(:last-of-type) {
      margin-bottom: 2rem;
    }
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
  }

  &__box {
    width: 30%;
    background-color: var(--almond-light);
    color: var(--dark-grey-1);
    font-weight: 600;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, .3);
    border-radius: 5px;
    overflow: hidden;
    margin: 0 auto 5rem auto;
  }

  &__heading {
    font-family: 'Roboto Slab', sans-serif;
    background-color: var(--green-sheen);
    color: var(--light-grey-1);
    text-transform: uppercase;
    text-align: center;
    padding: 2.5rem 0;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .3);
    font-size: 1.8rem;
  }

  &__detail-container {
    padding: 3rem;
  }

  &__detail {
    font-size: 1.5rem;

    &:not(:last-of-type) {
      margin-bottom: 2rem;
    }
  }
}

@media only screen and (max-width: 75em) {
  .Projects {
    padding: 7.5rem 7.5rem;
    font-size: 1.6rem;

    &__container {
      flex-direction: column;
    }
  }
}

@media only screen and (max-width: 37.5em) {
  .Projects {
    padding: 4rem 2rem;
  }
}